.about{
    background-color: rgba(80, 111, 149, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
.h2-about {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #225ed7;
  }

.about-img {
    
    height: 60vh;
    object-fit: cover;
  }