.dropdown-toggle {
    color: #fff;
    background-color: #433284 !important;
    background-color: cutom-color;
    border-color: #433284 !important;
    border-color: cutom-cor;
    /* margin: 0 auto; */
    /* width: 20vw;  */
}