
.card {
    display: flex;
    flex-direction: column;
    min-width: 18rem;

  }

  .card-body {
display: flex;
flex-direction: column;
justify-content: space-around;

    
  }
  .card-footer{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
  }
  
  .btn-card {
    color: #fff;
    background-color: #433284 !important;
    border-color: #433284 !important;
    border-color: cutom-cor;

}
